{% extends 'base.html.twig' %}
{% block title 'Ajouter un produit' %}
{% block body %}

    <div class="container">
        {% include 'admin/produits/_form.html.twig' with {'formToShow' : 'add'} %}
    </div>

{% endblock %}
