{% extends 'base.html.twig' %}
{% block title 'Editer le produit' %}
{% block body %}
    <div class="container">
        {% include 'admin/produits/_form.html.twig' with {'formToShow' : 'edit'} %}
    </div>

{% endblock %}
